.list {
  padding: 20px;
  list-style: none;
  color: $color-tertiary;
  font-size: 18px;
  line-height: 2;

  &__title {
    color: $green;
  }

  &__text {
    color: $orange;
  }

  &__tutor {
    display: inline-block;
    border-bottom: 2px solid $color-primary;

    &::first-letter {
      color: $color-primary;
    }
  }
}
